@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}




@font-face {
    font-family: NASA;
    src: url('./Nasa.ttf');
}
#col-1,.col-img{
    height: 50vh;
    display: flex;
    position: relative;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,50%);

}
#col-2,.text-col{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
   padding: 0 0 0 20px;
   position: relative;
}

.heading{
    overflow: hidden;
}
.sub{
    overflow: hidden;
}
/* Section -1 Imgaes */
.img-1, .img-1-1,.img-2-1,.img-2 {
    align-self: end !important;
    width: 50% !important;
    margin-bottom: -10% !important;

}

.img-2-1{
align-self: start !important;
margin:-30% 0 0 !important;
justify-self: end !important;
}
.img-3{
    width: 50% !important;
    align-self: center !important;

}
.img-3-1{
width: 50% !important;
align-self: start !important;
margin-top: -30% !important;

}

.img-4,.img-4-1,.img-4-2,.img-4-3,.img-4-4{
position: absolute !important;
width: 30% !important;

}
.img-4{
    width: 30% !important;
    top: 0 !important;
    left: 0 !important;
}
.img-4-1{
    width: fit-content !important;
    top: -50% !important;
    right: 0 !important;
}
.img-4-2{
    bottom: 0 !important;
    left: 5% !important;
}

.img-4-3{
    bottom: 0 !important;
    right: 0 !important;
}
.img-4-4{
    width: 30% !important;
    top: 20% !important;
    right: 15% !important;
}

.img-5,.img-5-1,.img-5-2,.img-5-3,.img-5-4{
    position: absolute !important;
    width: 30% !important;
}
.img-5{
    top: -17% !important;
    left: 50px !important;
}
.img-5-1{
    top: -10% !important;
    left: 45% !important;
}
.img-5-2{
    bottom: -15% !important;
    left: 50px !important;

}
.img-5-3{
    bottom: -20% !important;
    left: 45% !important;

}

.img-5-4{
    width: 20% !important;
    top:30% !important;
    right: 0% !important;
}
.img-6{
    position: absolute !important;
    width: 100% !important;
    min-height: 100vh;left: 0 !important;

}

.img-6-1{
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;

}
.img-7{
    width: 50% !important;
    align-self: flex-end !important;
    margin-left: 50px !important;
    margin-bottom: -10% !important;

}
.img-7-1{
    width: 50% !important;
    margin-left: -50px !important;

    align-self: flex-end !important;
margin-bottom: -10% !important;
}

/* scroll text secton-2 */

.scroll{
    display: none;
}
.col-1{
    background-color: #928989;
}
.col-1-1{
    background-color: #5c0bc0;

}
.col-2{
    background-color: #030384;

}
.col-2-1{
    background-color: #152ed0;

}


.col-3{
    background-color: #03036a;
 
}
.col-3-1{
    background-color: #060e42;

}
.col-4{
    background-color: #03036a;

}
.col-4-1{
    background-color: #060e42;

}
.col-5{
    background-color: #1a7a9cd8;

}
.col-5-1{
    background-color: #0a44a7;

}
.col-6{
    background-color: #1a7a9cd8;

}
.col-6-1{
    background-color: #111da6;

}
.col-7{
    background-color: #088e4f;

}
.col-7-1{
    background-color: #097040;

}
/* section -2 title img */

.main-img{
    width: 70% !important;
    margin-top: -10px !important;
    position: relative !important;
    z-index: 2;
    background-color: #5c0bc0 !important;
    margin-left: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 5px !important;
}
/* section-2 text */
#main-text,.text-area{
    padding-inline: 10px;
    height: 100%;
    margin-block:auto 10%;
}
#main-text h2, .text-area h2{
    font-size: 40px;
    margin-bottom: 20px;
    overflow: hidden;

}
#main-text p ,.text-area p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 20px;
    overflow: hidden;

}
/* section button */
#main-text button ,.text-area button{
    border: none;
    background-color: transparent;
    font-size: 22px;
}

#main-text button{
    position: absolute;
    bottom: 7%;

}

.skip{
    display: none;
    position: absolute;
    bottom: 8%;
    right: 0%;
    font-size: 20px;
    background: transparent;
    border: none;
}
#page1{
    display: none;
}
.mesaage{
    display: none;

    position: absolute;
    right: 10px;
    bottom: 5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(31, 167, 221);
    font-size: 30px;
}
#page2{
    display: block;
    min-height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    margin: 0 !important;
}

.owl-theme .owl-dots{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        bottom: 0;
}

@media screen and (min-width:500px) {
    .img-1,.img-1-1{
        width: 50%;
    }
     .main-img{
        width: 50%;
     }
}


@media screen and (min-width:768px) {
    #page2{
        display: none;
    }
    #page1{
        display: flex;
        flex-direction: row-reverse;

        overflow: hidden;
        min-height: 100vh;
        
    }
    #col-1,#col-2{
        min-height: 100vh;
        width: 50%;
    }
    .img-2,.img-2-1{
        width: 50%;
    }
    .img-1,.img-1-1{
        width: 50%;
        margin: 0;
    }
    #col-1{
        padding-left: 50px;
    }
    .img-4-1{
        top: -20%;
    }
    .img-7{
        margin-left: 0;
    }
    .main-img{
        width: 50%;
    }
    #main-text{
         margin-block: auto 50px;
    }
    .img-1,.img-1-1{
        align-self: center;
    }
    .scroll{
        display: block;
       position: relative;
        min-height: 50vh;
    }
    
    .scroll svg{
        width: 50%;
        position: absolute;
        margin-right: -10%;
        left: 60%;
        top: 20%;
        border-radius: 50%;
    }
    .scroll #scroll-text{
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translateX(-50%);
        width: fit-content;
        font-size: 20px;
    }
    #scroll-text h3{
        font-size: 30px;
        text-align: center;
        text-wrap: nowrap;


    }
    #scroll-text p{
        font-size: 16px;
        text-wrap: nowrap;


    }
    #scroll-text p:nth-of-type(2){
        text-align: right;
    }
    .logo-main{
        width: 180px;
    }
    .skip,.mesaage{
        display: block;
    }
}

@media screen and (min-width:1000px) {
    .scroll #scroll-text{
        top: 48%;
        
    }
    .img-7{
        margin-left: 50px;
    }
    #scroll-text h3{
        font-size: 40px;
    }
    #scroll-text p{
        font-size: 20px;
    }
    .logo-main{
        width: 220px;
    }
}

@media screen and (min-width:1200px) {
  .main-img{
   width: 100%;
  }
  #main-text{
    width: 50%;
    margin-block:auto 0px;
  }
  .logo-main{
    width: 300px;
  }
  #main-text p{
    padding-right: 60px;

    line-height: 30px;
  }
  .scroll #scroll-text{
    top: 45%;
    left: 65%;
    transform: translateX(-50%);
  }
  #scroll-text h3{
    font-size: 60px;
}
#scroll-text p{
    font-size: 30px;
}
.skip{
    bottom: 7%;
}
}